@model HATC_CapstoneProject.Models.Achievement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Achievement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHidden" /> Hidden?
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUnlocked" /> Unlocked?
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMasked" /> Masked?
                </label>
            </div>
            <div class="form-group form-check">
                <label>Rank</label>
                @Html.DropDownList("allranks")
            </div>
            <div class="form-group">
                <label asp-for="Benefit" class="control-label"></label>
                <input asp-for="Benefit" class="form-control" />
                <span asp-validation-for="Benefit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="criteria" class="control-label">Criteria</label>
                <input for="criteria" name="criteria" class="form-control" />
            </div>
            <div class="form-group">
                <label for="goal" class="control-label">Goal</label>
                <input for="goal" name="goal" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
