html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #1f1f2a;
    background-color: #fefefc;
    background-image: url('../content/img/texture3.webp');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.banner {
    color: white;
    background-size: cover;
    padding: 40px;
    width: 100%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.footer {
    background-size: cover;
    padding: 40px;
    width: 100%;
}

.hatc-white {
    color: #fefefc;
}
.hatc-white-bg {
    background-color: #fefefc;
}
.hatc-lgreen {
    color: #93c06b;
}
.hatc-lgreen-bg {
    background-color: #93c06b;
}
.hatc-lblue {
    color: #456280;
}
.hatc-lblue-bg {
    background-color: #456280;
}
.hatc-green {
    color: #486553;
}
.hatc-green-bg {
    background-color: #486553;
}
.hatc-blue .active .a,
.hatc-blue .active .a:hover,
.nav-pills .nav-link.active {
    background-color: #1a2541;
    color: #93c06b;
}
.nav-link {
    color: #1a2541;
}
.hatc-blue-bg {
    background-color: #1a2541;
}
.hatc-black {
    color: #1f1f21;
}

.hatc-black-bg {
    background-color: #1f1f21;
}