<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HATC_CapstoneProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HATC_CapstoneProject.styles.css" asp-append-version="true" />
</head>

@using Microsoft.AspNetCore.Identity

<body>
    <header>
        <div class="container">
            <div class="row text-center align-middle banner">
                <h1 class="display-1 fw-bolder">Haven at the Crossroads</h1>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1 justify-content-left">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Session" class="btn btn-outline-dark">Sessions</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Player" class="btn btn-outline-dark">Players</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Faction" class="btn btn-outline-dark">Factions</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Downtime" class="btn btn-outline-dark">Downtime</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Shop" class="btn btn-outline-dark">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Information" class="btn btn-outline-dark">Information</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-dark">Log In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <main role="main">
            <div class="bg-white">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://gavinodonnell.artstation.com/projects/9raaR">Banner image credit to Gavin O'Donnel</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
