@model HATC_CapstoneProject.Models.ShopItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ShopItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceAdjustment" class="control-label"></label>
                <input asp-for="PriceAdjustment" class="form-control" />
                <span asp-validation-for="PriceAdjustment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BanReason" class="control-label"></label>
                <input asp-for="BanReason" class="form-control" />
                <span asp-validation-for="BanReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualWeight" class="control-label"></label>
                <input asp-for="ManualWeight" class="form-control" />
                <span asp-validation-for="ManualWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAttunement" /> @Html.DisplayNameFor(model => model.IsAttunement)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShoppable" /> @Html.DisplayNameFor(model => model.IsShoppable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCraftable" /> @Html.DisplayNameFor(model => model.IsCraftable)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
